<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>


<%= link_to "OSRM Démo", "http://map.project-osrm.org" %>
<br/>
<%= link_to "Géocoder démo 1", geocoder_geocode_st_path %>
<br/>
<%= link_to "Géocoder démo 2", geocoder_geocode_stt_path %>
<br/>
<%= link_to "Routing démo", routing_route_path %>
<br/>
<%= link_to "Possessions démo 1t", routing_possessions1t_path %>
<br/>
<%= link_to "Possessions démo 2g", routing_possessions2g_path %>
<br/>
<%= link_to "Dev", routing_dev_path %>
<br/>
<%= link_to "Dev1", routing_dev1_path %>